nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #7D8E95;
}

.navbar-brand{
    font-size: 25px;
    font-weight: 500;
    color: #FFBB98 !important;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.navbar-brand:hover{

    color: #ec6f30 !important; 
}

nav.navbar a.navbar-brand{
    width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}


nav.navbar .navbar-nav .navbar-link:hover,
nav.navbar .navbar-nav .navbar-link.active {
    opacity: 40;
}


.contact-form{

}

.navbar button{
    font-weight: 700;
    color:#FFBB98 !important;
    border: 1px solid #7D8E95;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
